body {
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(#a2d2ff, #EFB0C9);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bf-img {
    width: 150px;
    border-radius: 50%;
    border: 7px solid #EFB0C9;
}

h1,
h2,
h3 h4,
p {
    text-shadow: 0px 0px 1px black;
}

#age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

.gift-section {
    margin-top: 50px;
}

.gift {
    width: 400px;
    height: 400px;
    background-image: url("./images/gift-cover.jpg");
    background-size: cover;
    border: 6px solid white;
    border-radius: 10px;
    margin: 0px auto;
}

.text {
    margin-bottom: 10px;
}

.info {
    margin-top: 0;
}

#gift-happy:hover {
    background-image: url("./images/happy.gif");
}

#gift-hot:hover {
    background-image: url("./images/hot.gif");
}

#gift-genius:hover {
    background-image: url("./images/genius.gif");
}

#gift-badass:hover {
    background-image: url("./images/badass.gif");
}

#gift-cheers {
    height: 200px;
}

#gift-cheers:hover {
    background-image: url("./images/cheers.gif");
}

a {
    color: #ffffff;
}

#footer {
    width: 400px;
    margin: 40px auto 20px;
    font-style: italic;
}